*.log
.DS_Store
.env
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/*.map
core
.htaccess-dev
.nbproject/
.project
*.esproj
/.phpstorm.meta.php
.svn

/node_modules
package-lock.json
yarn-error.log
.yarn-integrity
.yo-rc.json
npm-debug.log.*
.fuse_hidden*
.DS_Store*
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Thumbs.db
desktop.ini
ehthumbs.db
Icon?
*.stackdump

/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/nativephp
.nativephp.lock

/storage/*.key
/storage/logs/*
/storage/pail
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
