{
  "semi": false,
  "singleQuote": true,
  "printWidth": 130,
  "trailingComma": "none",
  "phpVersion": "8.5",
  "plugins": ["@prettier/plugin-php"],
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "parser": "php"
      }
    }
  ]
}
