@font-face {
  font-family: 'ridewrench';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/ridewrench/ridewrench.eot?33335945');
  src:
    url('../fonts/ridewrench/ridewrench.eot?33335945#iefix') format('embedded-opentype'),
    url('../fonts/ridewrench/ridewrench.woff2?33335945') format('woff2'),
    url('../fonts/ridewrench/ridewrench.woff?33335945') format('woff'),
    url('../fonts/ridewrench/ridewrench.ttf?33335945') format('truetype'),
    url('../fonts/ridewrench/ridewrench.svg?33335945#ridewrench') format('svg');
}

[class^='icon-ridewrench-']:before,
[class*=' icon-ridewrench-']:before {
  display: inline-block;
  width: 1em;
  font-family: ridewrench;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1em;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ridewrench-road:before {
  content: '\e801';
}

.icon-ridewrench-gravel:before {
  content: '\e802';
}

.icon-ridewrench-mtb:before {
  content: '\e803';
}

.icon-ridewrench-other:before {
  content: '\e804';
}

.icon-ridewrench-indoor:before {
  content: '\e805';
}
