@supports (padding-top: env(safe-area-inset-top)) {
  @media (hover: none) and (pointer: coarse) {
    .app-navbar {
      padding-top: max(var(--bs-navbar-padding-y), env(safe-area-inset-top));

      .offcanvas {
        &-header {
          padding-top: max(var(--bs-offcanvas-padding-y), env(safe-area-inset-top));
        }

        &-body {
          padding-bottom: max(var(--bs-offcanvas-padding-y), env(safe-area-inset-bottom));
        }
      }
    }
  }

  @media (hover: none) and (pointer: coarse) and (width < 992px) {
    .modal {
      padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

      &-dialog {
        margin: max(var(--bs-modal-margin), env(safe-area-inset-top)) max(var(--bs-modal-margin), env(safe-area-inset-right))
          max(var(--bs-modal-margin), env(safe-area-inset-bottom)) max(var(--bs-modal-margin), env(safe-area-inset-left));
      }
    }
  }
}
